<!DOCTYPE html>
<html lang="es">
    <%- include("../layouts/head", { tituloHead }) %>
    <body>
        <!-- header -->
        <%- include("../layouts/header") %>

        <!-- main -->
        <main class="form-style">
            <% if(message === "No se encontro el producto") { %>
            <section><%= message%></section>
            <% } else if (message === "Ocurrio un error al obtener el producto") { %>
            <section><%= message%></section>
            <% } else { %>

            <section>
                <h2>Editar producto</h2>
                <h5>Producto: <%= producto.marca %>, <%= producto.modelo %></h5>

                <form id="editarForm" novalidate>
                    <!-- input marca -->
                    <div>
                        <label>Marca:</label>
                        <input class="input-normal" id="inputMarca" type="text" name="marca" />
                        <p id="errorMarca" class="oculto errorEstilo">nada</p>
                    </div>

                    <!-- input modelo -->
                    <div>
                        <label>Modelo:</label>
                        <input class="input-normal" id="inputModelo" type="text" name="Modelo" />
                        <p id="errorModelo" class="oculto errorEstilo">nada</p>
                    </div>

                    <!-- input categoria -->
                    <div>
                        <label for="categoria">Categoria:</label>
                        <select name="categoria" id="inputCategoria" size="1">
                            <option value="<%= producto.categoria %>" selected><%= producto.categoria %></option>
                            <% if(producto.categoria === "Guitarras") { %>
                            <option value="Bajos">Bajos</option>
                            <% } else { %>
                            <option value="Guitarras">Guitarras</option>
                            <% } %>
                        </select>
                        <p id="errorCategoria" class="oculto errorEstilo">nada</p>
                    </div>

                    <!-- input precio -->
                    <div>
                        <label>Precio:</label>
                        <input class="input-normal" id="inputPrecio" type="number" name="precio" />
                        <p id="errorPrecio" class="oculto errorEstilo">nada</p>
                    </div>

                    <!-- input imagen -->
                    <div>
                        <label>Imagen:</label>
                        <input id="inputImagen" type="file" name="imagen" />
                        <p id="errorImagen" class="oculto errorEstilo">nada</p>
                    </div>

                    <!-- botones -->
                    <div class="div-botones-form">
                        <button id="btnGuardarCambios" type="submit">Guardar cambios</button>
                        <button id="btnCancelar" type="button">Cancelar</button>
                    </div>
                </form>
            </section>
            <% } %>
            <div id="modalProductoActualizado" class="modal">
                <div class="modal-container">
                    <span id="cerrarModal" class="cerrar-modal">&times;</span>
                    <h4 id="modalTitulo"></h4>
                    <div class="modal-botones">
                        <button id="btnSiConfirmar">Volver</button>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <%- include("../layouts/footer") %>

        <!-- paso id desde EJS al JS -->
        <script>
            const PRODUCT_ID = <%= producto ? producto.id : 'null' %>;
        </script>

        <script type="module" src="/js/editar.js"></script>
    </body>
</html>
